@font-face{
font-family: Myfont;
src: url(../font/杨任东竹石体-Extralight.ttf);
}
body{
  background-image: url("../pic/tianailu/jiedao2.jpg");           
  background-repeat: repeat-y;
  background-size: 3000px,100%;
  top:0px;
  right:0px;
  position: relative;
  min-width: 1500px;
}
.layer1{
  top:100px;
  width:90%;
  height:950px;
  position:absolute;
}        
/* 这里开始复制 */
.container {
  height:100%;
}
.container .header .logo {
  float: left;
  width: 50%;
  text-align: center;
}

.container .header .logo a  {
  color: white;
  font-size: 5em;
  font-family: 'Dorsa-Regular', '瘦金体';
  /* 待定字体 */
  text-decoration: none;
  letter-spacing: 2px;
}
.container .header .logo .login_regist{
  margin: 0 270px;
  border: 1px solid #008c8c;
}
.container .header .logo .login_regist a:hover {
  color:yellow;
}
.container .header .logo .login_regist .login {
  color: white;
  font-size: 1em;
  font-family: 'Dorsa-Regular', '瘦金体';
  /* 待定字体 */
  text-decoration: none;
  letter-spacing: 2px;
}
.container .header .logo .login_regist .regist {
  color: red;
  font-size: 1em;
  font-family: 'Dorsa-Regular', '瘦金体';
  /* 待定字体 */
  text-decoration: none;
  letter-spacing: 2px;
}
.container .header #top-nav {
  background:rgba(85, 198, 226, 0);
  position: absolute;
  top: 3.78%;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 1em 0 1em 0;
  transition: all 1s;
}

.container .header #top-nav>ul {
  padding: 0;
  margin: 0 auto;
  z-index: 9999;
  position: absolute;
  width: 100%;
  left: 0;
}

.container .header #top-nav>ul>li {
  display: inline-block;
  margin: 0 2em;
  position: relative;  
}

.container .header #top-nav>ul>li>div>ul>li{
  list-style: none;
}

.container .header #top-nav>ul>li>div>ul{
  padding: 0px;

}
.container .header #top-nav>ul>li a {
  color: white;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin: 100px 0px;
  font-weight: 600;
  font-family: 'Dorsa-Regular';
  /* 字体待定 */
  text-decoration: none;
  list-style: none;
}

.container .header #top-nav>ul>li a:hover {
  color: #ffcc33;
}

.container .header #top-nav>ul>li .submenu {
  text-align: left;
  line-height: 1.5;
  width: 100px;
  height:0px;
  top:27px;
  border: 0px solid #ccc;
  box-sizing: border-box;
  position: absolute;
  left:-22px;
  background:rgba(130, 143, 146, 0.644);
  overflow: hidden;
  transition: all 1s;
}

.container .header #top-nav>ul>li:hover .submenu {
  height:290px;
  border: 2px solid #ccc;
}

.container .header #top-nav>ul>li:hover .submenu1{
  display: block;
  height:110px;
  border: 2px solid #ccc;
}
.container .header #top-nav>ul>li .submenu ul li {
  box-sizing: border-box;
  text-align: center;
}
.container .header #top-nav>ul>li .submenu1 {
  text-align: left;
  line-height: 1.5;
  width: 105px;
  top:27px;
  height:0px;
  box-sizing: border-box;
  position: absolute;
  border: 0px solid #ccc;
  background:rgba(130, 143, 146, 0.644);
  overflow: hidden;
  transition: all 1s;
}
.container .header #top-nav>ul>li .submenu1 ul li {
  float: none;
  box-sizing: border-box;
  text-align: center;
}
/*内容框格式*/
.info_ta{
  position: relative;
  background-color: rgba(216, 56, 27, 0.7);
  left:10%;
  width: 80%;
  height: 600px;
  top: 200px;
}
.info_ta1{
  position: relative;
  background-color: rgba(223, 154, 219, 0.7);
  left:10%;
  width: 80%;
  height: 600px;
  top: 200px;
}
.info_ta2{
  position: relative;
  background-color: rgba(216, 56, 27, 0.9);
  left:10%;
  width: 80%;
  height: 600px;
  top: 200px;
}
.info_ta3{
  position: relative;
  background-color: rgba(216, 56, 27, 0.9);
  left:10%;
  width: 80%;
  height: 500px;
  top: 200px;
}

.board_ta_1{
  width: 100%;
  height: 100%;
  top:50%;
  float: left bottom;
  position: absolute;
  transition: width 2s, height 2s;
}
.board_ta:hover{
  width: 105%;
  height: 105%;
}

/*图片设置*/
.board_ta_left{
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
  transition: width 2s, height 2s;
}
.board_ta_right{
  width: 100%;
  height: 100%;
  float: right;
  position: absolute;
  transition: width 2s, height 2s;
}
.board_ta32{
  width: 50%;
  height: 60%;
  float: right;
  position: absolute;
  transition: width 2s, height 2s;
}
.board_ta0{
  left: 55%;
  top: 15%;
  width: 40%;
  height: 70%;
  overflow: hidden;
  position: absolute;
}
.board_ta1{
  left: 7%;
  top: 10%;
  width: 40%;
  height: 70%;
  overflow: hidden;
  position: absolute;
}
.board_ta2{
  left: 7%;
  top: 10%;
  width: 40%;
  height: 60%;
  overflow: hidden;
  position: absolute;
}
.board_ta3_1{
  left: 7%;
  top: 50%;
  width: 40%;
  height: 40%;
  overflow: hidden;
  position: absolute;
}
.board_ta3_2{
  left: 62%;
  top:10%;
  width: 25%;
  height: 80%;
  overflow: hidden;
  position: absolute;
}
.board_ta1_31{
  left: 90px;
  top: 80px;
  width: 550px;
  height: 320px;
  overflow: hidden;
  position: absolute;
}
.board_ta1_32{
  left: 870px;
  top: 100px;
  width: 450px;
  height: 320px;
  overflow: hidden;
  position: absolute;
}
.board_ta4{
  width: 100%;
  height: 100%;
  float: left;
  opacity:0.3;
  filter:alpha(opacity = 30);
  -moz-opacity:0.3;
  position: absolute;
  transition: all 2s;
}
.board_ta4:hover{/*设置不透明度*/
  z-index:3;
  opacity:1;
  filter:alpha(opacity = 100);
  -moz-opacity:1;
}

.board_ta1_41{
  left: 90px;
  top: 25px;
  width: 550px;
  height: 550px;
  overflow: hidden;
  position: absolute;
}
#font_ta{
  font-family: Myfont,Arial, Helvetica, sans-serif;
  font-size:26px;
  position: absolute;
  text-align: center;
  left:55%;
  width: 40%;
  top:5%
}
#font_ta1{
  font-family: Myfont,Arial, Helvetica, sans-serif;
  font-size:26px;
  position: absolute;
  text-align: center;
  left:5%;
  width: 40%;
  top:10%
}


body> div >div > a:link{
  color:black;
  text-decoration-line: none; 
}
body > div > div > a:visited{
  color:black;
  text-decoration-line: none;   
}
#next_s{
  font-family: Myfont;
  font-size:23px;
  position: absolute;
  top:85%;
  left:45%;
}



.top1_style{
  color: yellow;
  background-color:rgba(85, 82, 72, 0.7);
  position:absolute;    
  margin-left: -15px;
  width: 80px;
  height: 0px;
  transition:height 2s;
}

#title_1_1{  
  font-family: Myfont;
  position: absolute;
  top:2%;
  left:4%;
}

#title_1_2{  
  font-family: Myfont;
  position: absolute;
  top:2%;
  left:55%;
}

#para_2{
  font-family: Myfont;
  font-size:23px;
  position: absolute;
  top:5%;
  left:55%;
  width: 40%;
}

#para_3_1{
  font-family: Myfont;
  font-size: 20px;
  position: absolute;
  top:10%;
  left:7%;
  width: 35%;
}
#para_end{
  font-family: Myfont,Arial, Helvetica, sans-serif;
  font-size:23px;
  position: absolute;
  text-align: center;
  left:50%;
  width: 45%;
  top:4%;
}













img{
  width: 100%;
}

.li_img{
  width: 550px;
  height:450px;
  float: left;
  list-style: none;
  
}

.ul_img{
  width: 6000px;            
  padding:0px;
  margin: 0px;
  transition: all 2s;
}

.main_div{
  width: 40%;
  height:60%;
  overflow: hidden;
  position: absolute;
  left: 5%;
  top: 20%;
}

.arrows{
  z-index: 9999;
  position: absolute;
  padding-top: 130px;
  width: 550px;
}

.arrows span{
  font-size: 3em;
  color: seashell;
}

.arrows span:hover {
  cursor: pointer;
  background-color: rgba(192, 192, 192, 0.29);
}

.div_btn{
  float: left;
  border-radius: 100px;
  background-color: aquamarine;
  position: absolute;
  width: 60px;
  height: 10px;
  margin-left: 10px;
  margin-top: 130px;
}

.div_btn:hover{
  background-color:aqua;

}

